@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');
body{
    background-color: #FEFEFE;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: #5772A9;
}